:root {
  --primary-color: #767dd5;
  --board-color: #ffffff;
  --back-color: #f4f3f8;
  --font-color: #121331;
  --firstgradient-color: #c35eff;
  --secondgradient-color: #6476f6;
}

.App {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: var(--font-color);
  background-color: var(--back-color);
  padding: 100px 0;
}

.Wrapper {
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: 700px;
  background-color: var(--board-color);
  border: solid #ffffff 5px;
  box-shadow: 0px 0px 40px rgb(18, 19, 49, 0.2);
  border-radius: 45px;
}

/* ///////////////////////// */
.citySearch {
  background-color: var(--back-color);
  padding: 70px 50px 30px;
  text-align: left;
  border-radius: 45px 45px 0 0;
}

.citySearch img {
  width: 25px;
  transform: translateY(5px);
}

.cityInput {
  padding-left: 40px;
  background-color: var(--back-color);
  border-style: none;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.citySubmit {
  float: right;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffffff;
  background: linear-gradient(140deg, #c35eff, #6476f6);
}

/* /////////////////////////// */
.dateData {
  margin: 70px 0 90px;
  text-transform: uppercase;
}

.dateYear {
  font-size: 16px;
  margin: 0;
}

.cityName {
  font-weight: 300;
  font-size: 34px;
  margin: 4px 0 4px;
}

.dayWeekTime {
  font-size: 16px;
  margin: 0;
}

/* ///////////////////// */
.dayWeather {
  padding: 0 5%;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.dayWeatherImage {
  width: 50%;
  margin: 0;
}

.dayWeatherIcon {
  text-align: center;
  max-width: 250px;
}

.dayWeatherTemp {
  flex-grow: 1;
  margin: 0;
}

.dayWeatherTemp h2 {
  font-size: 90px;
  font-weight: 300;
  margin: 0;
}

.dayWeatherTemp h3 {
  font-size: 21px;
  font-weight: 300;
  margin: 0;
  color: var(--primary-color);
  text-transform: uppercase;
}

/* ///////////////////// */
.dayWeatherDetails {
  margin: 90px 0 40px;
  padding: 0 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detailsWind,
.detailsHumidity,
.detailsUVIndex,
.detailsPressure {
  width: 16%;
}

.detailsIcon {
  text-align: center;
}

.detailsProperty {
  font-size: 16px;
  font-weight: 300;
  margin: 12px 0 5px;
  color: var(--primary-color);
  text-transform: uppercase;
}

.detailsValue {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

/* ////////////////////////////////// */
.weatherForecast {
  padding: 0 12%;
  margin: 90px 0 50px;
}

.weatherForecastTitle {
  text-align: right;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.weatherForecastDiv {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weatherForecastDiv div {
  width: 9%;
  background-color: var(--back-color);
  padding: 12px 21px 12px;
  border-radius: 12px;
}

.weatherForecastDiv p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.forecastIcon {
  margin: 10px 0 10px;
}

.forecastTempMax,
.forecastTempMin {
  display: inline;
}

.forecastTempMax {
  padding-right: 10px;
}

/* //////////////////////////////////////// */
.spaceHr {
  width: 76%;
  border: solid 1px var(--back-color);
}

.gitHub {
  font-size: 14px;
  font-weight: 300;
  padding-top: 20px;
}

.gitHub a {
  padding-right: 10px;
  text-decoration: none;
  color: var(--font-color);
}

.gitHub a:hover {
  color: var(--primary-color);
}
