:root {
  --primary-color: #767dd5;
  --board-color: #ffffff;
  --back-color: #f4f3f8;
  --font-color: #121331;
  --firstgradient-color: #c35eff;
  --secondgradient-color: #6476f6;
}

.App {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: var(--font-color);
  background-color: var(--back-color);
  padding: 8vh 0;
}

.Wrapper {
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: 700px;
  background-color: var(--board-color);
  border: solid #ffffff 5px;
  box-shadow: 0px 0px 40px rgb(18, 19, 49, 0.2);
  border-radius: 45px;
}

/* ///////////////////////// */
.citySearch {
  background-color: var(--back-color);
  padding: 70px 10% 30px;
  text-align: left;
  border-radius: 45px 45px 0 0;
}

.citySearch img {
  width: 25px;
  transform: translateY(5px);
}

.cityInput {
  width: 50%;
  padding-left: 40px;
  background-color: var(--back-color);
  border-style: none;
  outline: none;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.citySubmit {
  float: right;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
  background: linear-gradient(140deg, #c35eff, #6476f6);
}

.citySubmit:hover {
  background: var(--back-color);
  color: var(--primary-color);
  border: 1px solid var(--font-color);
}

/* /////////////////////////// */
.dateData {
  margin: 70px 0 90px;
  text-transform: uppercase;
}

.dateYear {
  font-size: 16px;
  margin: 0;
}

.cityName {
  font-weight: 300;
  font-size: 34px;
  margin: 4px 0 4px;
}

.dayWeekTime {
  font-size: 16px;
  margin: 0;
}

/* ///////////////////// */
.dayWeather {
  padding: 0 10%;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.dayWeatherImage {
  width: 50%;
  margin: 0;
}

.dayWeatherIcon {
  float: left;
  max-width: 85%;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.dayWeatherIcon:hover {
  scale: 1.05;
}

.dayWeatherTemp {
  flex-grow: 1;
  margin: 0;
}

.dayWeatherTemp h2 {
  float: right;
  text-align: center;
  font-size: 112px;
  font-weight: 300;
  margin: 0;
}

.dayWeatherTemp h3 {
  float: right;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  margin: 0;
  color: var(--primary-color);
  text-transform: uppercase;
}

/* ///////////////////// */
.dayWeatherDetails {
  margin: 90px 0 40px;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detailsWind,
.detailsHumidity,
.detailsUVIndex,
.detailsPressure {
  width: 16%;
}

.detailsIcon {
  text-align: center;
}

.detailsProperty {
  font-size: 16px;
  font-weight: 300;
  margin: 12px 0 5px;
  color: var(--primary-color);
  text-transform: uppercase;
}

.detailsValue {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

/* ////////////////////////////////// */
.weatherForecast {
  padding: 0 10%;
  margin: 90px 0 50px;
}

.weatherForecastTitle {
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.weatherForecastDiv {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weatherForecastDiv div {
  width: 9%;
  background-color: var(--back-color);
  padding: 12px 21px 12px;
  border-radius: 12px;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.weatherForecastDiv div:hover {
  scale: 1.05;
}

.weatherForecastDiv p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.forecastIcon {
  margin: 10px 0 10px;
}

.forecastTempMax,
.forecastTempMin {
  display: inline;
}

.forecastTempMax {
  padding-right: 10px;
}

/* //////////////////////////////////////// */
.spaceHr {
  width: 80%;
  border: solid 1px var(--back-color);
}

.gitHub {
  font-size: 14px;
  font-weight: 300;
  padding-top: 20px;
}

.gitHub a {
  padding-right: 10px;
  text-decoration: none;
  color: var(--secondgradient-color);
}

.gitHub a:hover {
  color: var(--firstgradient-color);
}

/* //////////////////////////////////// */
@media screen and (max-width: 720px) {
  .App {
    padding: 0 0;
  }

  .Wrapper {
    width: 100%;
    max-width: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  .citySearch {
    border-radius: 0;
  }
}

@media screen and (max-width: 540px) {
  .citySearch {
    padding: 70px 5% 30px;
  }

  .cityInput {
    width: 60%;
  }

  .dayWeather {
    padding: 0 5%;
  }

  .dayWeatherDetails {
    padding: 0 5%;
  }

  .weatherForecast {
    padding: 0 5%;
  }

  .dayWeatherTemp h2 {
    font-size: 95px;
  }

  .dayWeatherTemp h3 {
    font-size: 23px;
  }

  .dayWeatherIcon {
    max-width: 92%;
  }
}

@media screen and (max-width: 500px) {
  .weatherForecastDiv div {
    width: 7%;
  }

  .detailsWind,
  .detailsHumidity,
  .detailsUVIndex,
  .detailsPressure {
    width: 20%;
  }

  .detailsProperty {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .citySearch {
    padding: 30px 5% 30px;
  }

  .cityInput {
    font-size: 16px;
  }

  .citySubmit {
    font-size: 16px;
  }

  .dayWeatherTemp h2 {
    font-size: 85px;
  }

  .dayWeatherTemp h3 {
    font-size: 20px;
  }

  .forecastTempMax,
  .forecastTempMin {
    display: block;
  }

  .forecastTempMax {
    padding-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .cityInput {
    width: 55%;
    padding-left: 10px;
    font-size: 14px;
  }

  .citySubmit {
    font-size: 14px;
  }

  .dateData {
    margin: 50px 0 55px;
  }

  .dayWeatherIcon {
    max-width: 100%;
  }

  .dayWeatherTemp h2 {
    font-size: 65px;
  }

  .dayWeatherTemp h3 {
    font-size: 16px;
  }

  .dayWeatherDetails {
    margin: 78px 0 40px;
  }

  .dayWeatherDetails {
    padding: 0px 2%;
  }

  .detailsWind,
  .detailsHumidity,
  .detailsUVIndex,
  .detailsPressure {
    width: 23%;
  }

  .detailsProperty {
    font-size: 13px;
  }

  .detailsValue {
    font-size: 12px;
  }

  .weatherForecast {
    padding: 0 2%;
  }

  .weatherForecast {
    margin: 66px 0 50px;
  }

  .spaceHr {
    width: 90%;
  }

  .weatherForecastDiv {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    row-gap: 8px;
  }

  .weatherForecastDiv div {
    width: 14%;
    padding: 12px 25px 12px;
  }
}
