.weatherForecast {
  padding: 0 10%;
  margin: 90px 0 50px;
}

.weatherForecastTitle {
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.wrapperForecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weatherForecastDiv {
  text-align: center;
  width: 9%;
  background-color: var(--back-color);
  padding: 12px 21px 12px;
  border-radius: 12px;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.weatherForecastDiv:hover {
  scale: 1.05;
}

.weatherForecastDiv p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.dayWeatherIconForecast {
  max-width: 100%;
  margin: 12px 0 10px;
  transform: scale(130%);
}

/* .dayWeatherIcon {
  margin: 10px 0 10px;
} */

.forecastTempMax,
.forecastTempMin {
  display: inline;
}

.forecastTempMax {
  padding-right: 10px;
}

@media screen and (max-width: 540px) {
  .weatherForecast {
    padding: 0 5%;
  }
}

@media screen and (max-width: 450px) {
  .weatherForecastDiv {
    width: 8%;
  }

  .dayWeatherIconForecast {
    margin: 13px 0 11px;
    transform: scale(150%);
  }

  .forecastTempMax,
  .forecastTempMin {
    display: block;
  }

  .forecastTempMax {
    padding-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .weatherForecast {
    padding: 0 5%;
    margin: 66px 0 40px;
  }

  .wrapperForecast {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .weatherForecastDiv {
    width: auto;
    padding: 7px 36px 7px;
  }

  .weatherForecastDiv div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .weatherForecastDiv p {
    font-size: 15px;
  }

  .forecastTempMax,
  .forecastTempMin {
    display: inline;
  }

  .forecastTempMax {
    padding-right: 15px;
  }

  .dayWeatherIconForecast {
    max-width: 22%;
    margin: 0 auto;
    transform: none;
    display: block;
  }
}
